@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Monoton&family=Nunito+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

body{
    background-color: rgb(129, 199, 211);
}


.container-fluid{
    width:  100%;
}
.container{
    width: 80%;
    margin: 1rem auto;
}

main{
    margin:auto;
    margin-top: 2%!important;
}

h1{
    margin: 1rem auto;
    padding: 1.5rem 3rem;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: rgb(37, 55, 58);
    color: white;
    font-family: 'Monoton', cursive;
    letter-spacing: 2px;
    border-radius: 50px;
    
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input{
    min-width: 30%;
    max-width: 80%;
    min-height: 60px;
    text-align: center;
    margin: 1rem auto;
    outline: none;
    /* background-color: rgb(224, 209, 228); */
    border: solid 1px rgb(128, 128, 241);
    font-size: 1.3rem;
    border-radius: 5px;
}

input:focus::placeholder {
    color: transparent;
}

label{
    font-size: 1rem;
    line-height: 35px;
}

button{
    min-width: 100px;
    max-width: 200px;
    min-height: 25px;
    border-radius: 5px;
    margin: 0.5rem auto;
    padding: 2px 10px;
    background-color: rgb(158, 16, 73);
    color: white;
    font-size: 0.9rem;
}

textarea{
    min-width: 70%;
    max-width: 95%;
    height: auto;
    margin: 1rem auto;
    padding: 3rem;
    font-size: 1rem;
    line-height: 35px;
    /* border-radius: 25%; */
    border: 30px solid rgb(24, 62, 71);

}

.disclaimer{
    font-size: 0.8rem;
}

footer{
    background-color: rgb(37, 55, 58);
    color: white;
    margin-top: 2rem;
    margin-bottom: 0;
}
footer div{
    padding-top: 1rem;
}
footer div p{
    font-size: 0.6rem;
}
footer img{
    max-width: 50px;
    min-width: 30px;
}

.icon a{
    color: rgb(248, 248, 248);
}

.icon i{
    font-size: 1.5rem;
    padding:0rem 0.1rem;
}
footer .icon{
    padding: 1rem 0.5rem;
}


@media (max-width: 992px){
    h1{
        font-size: 1.1rem;
        padding: 1rem 1.5rem;
    }
    label{
        font-size: 0.9rem;
    }
    
    input{
        font-size: 1rem;
        width: 95%;
    }

    textarea{
        width: 100%;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .disclaimer{
        font-size: 0.6rem;
    }
}
